* {
    margin: 0;
    padding: 0;
    font-family: helvetica,sans-serif;
    box-sizing: border-box;
    color: #333;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #fdfdfd;
    color: #000;
    padding: .3rem .6rem;
    border: 1px solid #000;
    font-size: 0.7rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

button:hover {
    background-color: #000;
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {

    color: #000;
    font-weight: bold;
    pointer-events: none;
}

button i:hover {
    color: #fff;
}

input, select {
    padding: .025rem 0.5rem;
}

.hide {
    display: none;
}

.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {

    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;

}

#todo-form p , 
#edit-form p {
    margin-bottom: .5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
    
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem ;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: .4rem;
}

.done {
    background-color:rgb(245, 245, 245);
}

.done h3 {
    color: #000;
    text-decoration: line-through;
    font-style: italic;
}

.hidden {
    display: none;
}